ClientCalculService/src/main/java/proxy/CalculService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.example.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.example.org/" name="CalculServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.example.org/" schemaLocation="http://localhost:8088/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="somme">
<part name="parameters" element="tns:somme"></part>
</message>
<message name="sommeResponse">
<part name="parameters" element="tns:sommeResponse"></part>
</message>
<message name="soustraction">
<part name="parameters" element="tns:soustraction"></part>
</message>
<message name="soustractionResponse">
<part name="parameters" element="tns:soustractionResponse"></part>
</message>
<message name="multiplication">
<part name="parameters" element="tns:multiplication"></part>
</message>
<message name="multiplicationResponse">
<part name="parameters" element="tns:multiplicationResponse"></part>
</message>
<message name="inverser">
<part name="parameters" element="tns:inverser"></part>
</message>
<message name="inverserResponse">
<part name="parameters" element="tns:inverserResponse"></part>
</message>
<portType name="CalculService">
<operation name="somme">
<input wsam:Action="http://ws.example.org/CalculService/sommeRequest" message="tns:somme"></input>
<output wsam:Action="http://ws.example.org/CalculService/sommeResponse" message="tns:sommeResponse"></output>
</operation>
<operation name="soustraction">
<input wsam:Action="http://ws.example.org/CalculService/soustractionRequest" message="tns:soustraction"></input>
<output wsam:Action="http://ws.example.org/CalculService/soustractionResponse" message="tns:soustractionResponse"></output>
</operation>
<operation name="multiplication">
<input wsam:Action="http://ws.example.org/CalculService/multiplicationRequest" message="tns:multiplication"></input>
<output wsam:Action="http://ws.example.org/CalculService/multiplicationResponse" message="tns:multiplicationResponse"></output>
</operation>
<operation name="inverser">
<input wsam:Action="http://ws.example.org/CalculService/inverserRequest" message="tns:inverser"></input>
<output wsam:Action="http://ws.example.org/CalculService/inverserResponse" message="tns:inverserResponse"></output>
</operation>
</portType>
<binding name="CalculServicePortBinding" type="tns:CalculService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="somme">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="soustraction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="multiplication">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="inverser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CalculServiceService">
<port name="CalculServicePort" binding="tns:CalculServicePortBinding">
<soap:address location="http://localhost:8088/"></soap:address>
</port>
</service>
</definitions>